[submodule "config"]
	path = config
	url = https://github.com/input-output-hk/cardano-configurations.git
[submodule "test/ogmios"]
	path = test/vectors/ogmios
	url = https://github.com/cardanosolutions/ogmios.git
[submodule "test/vectors/hydra"]
	path = test/vectors/hydra
	url = https://github.com/input-output-hk/hydra.git
